*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
MakeMeLaughJam/MakeMeLaughJam/bin/
MakeMeLaughJam/bin/
MakeMeLaughJam/MakeMeLaughJam/obj/
MakeMeLaughJam/obj/
MakeMeLaughJam/Content/obj/
!MakeMeLaughJam/x64
!MakeMeLaughJam/x86
!MakeMeLaughJam/Libraries
